.form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 30vw;
    height: 40vh;
    margin: 20px;
    padding: 20px;

    label {
        font-size: large;
        text-align: left;
        margin: 10px 0;
    }

    input {
        height: 50px;
    }

    button {
        margin: 10px 0;
        height: 50px;
        cursor: pointer;
    }
}